@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), asset-url('sDGTilo5QRsfWu6Yc11AXg.woff2') format('woff2');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: local('Ubuntu Bold'), local('Ubuntu-Bold'), asset-url('0ihfXUL2emPh0ROJezvraFtXRa8TVwTICgirnJhmVJw.woff2') format('woff2');
}
