// Place all the styles related to the page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.home {
background-image: url(asset-path('background.jpg'));
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center; // link to /assets/images/texture.png
}

#cuerpo {
background-image: url(asset-path('fondo.jpg'));
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
background-size: cover;// link to /assets/images/texture.png

}
